header {
    background-color: rgb(102, 89, 80);
    width: 100%;

    position: fixed;
    top: 0px;
    left: 0px;
    height: 5%;
    z-index: 300;
}

.z {
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    left: 30px;
    z-index: 300;
}

input {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    left: 800px;
    top: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.home {
    font-size: 30px;
    text-decoration: none;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 1150px;
    color: black;
    z-index: 300;
}

.login {
    font-size: 30px;
    text-decoration: none;
    color: black;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 1300px;
    z-index: 300;
}

a:hover {
    color: aliceblue;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: rgb(102, 89, 80);
}

.zf {

    position: relative;
    left: 30px;
    font-size: 30px;
    font-weight: bold;
    bottom: -4px;
}

.fa {
    position: relative;
    top: -49px;
    left: 926px;
    padding: 20px;
    width: 50px;
    bottom: -36px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    color: black;
}

.fa-twitter {
    color: black;
}

.fa-google {
    color: black;
}

.fa-linkedin {
    color: black;
}

.fa-youtube {
    color: black;
}

.fa-instagram {
    color: black;
}

.image {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img {
    display: block;
    height: 100%;
}

.over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #eeee;
    display: flex;
    flex-direction: column;

    opacity: 0;
}

.over:hover {
    opacity: 1;
}

.imagetitle {
    font-size: 30px;
    font-weight: bold;
}

.image1 {
    position: relative;
    width: 400px;
}

.img1 {
    display: block;
    height: 100%;
}

.over1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #eeee;
    display: flex;
    flex-direction: column;

    opacity: 0;
}

.over1:hover {
    opacity: 1;
}

.imagetitle1 {
    font-size: 30px;
    font-weight: bold;
}