body {
    background-image: url(3037927.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: brown;
    width: 100%;

    position: fixed;
    top: 0px;
    left: 0px;
    height: 5%;
    z-index: 300;
}

.z {
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    left: 30px;
    z-index: 300;
}

input {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    left: 800px;
    top: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.home {
    font-size: 30px;
    text-decoration: none;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 1150px;
    color: black;
    z-index: 300;
}

.login {
    font-size: 30px;
    text-decoration: none;
    color: black;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 1300px;
    z-index: 300;
}

a:hover {
    color: aliceblue;
}

.v {
    width: 100%;
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    top: 50px;
}

.in {
    position: relative;
    top: 100px;
}

.hist {
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 20px;
    font-size: large;

    width: 50%;
}

.res {
    color: rgb(0, 0, 0);
    position: relative;
    top: 20px;
    font-size: 20px;
    width: 25%;
}

table {
    width: 80%;
    border: 2px solid grey;
    text-align: center;
}

table td {
    padding: 10px;
    background-color: brown;
    font-weight: bold;
    font-size: larger;
}

.s {
    color: white;
    position: fixed;
    bottom: 0px;
    right: 10px;
    padding: 20px;
    border: 30px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}

.li {
    color: azure;
    text-decoration: none;
    text-shadow: 5px;
}

.re {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 2px;


}

.ee {
    color: white;
    position: fixed;
    bottom: 0px;
    left: 10px;
    padding: 20px;
    border: 30px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}

.link {
    color: azure;
    text-decoration: none;

}

.agen {
    font-size: 50px;
    font-weight: bold;
}

.pa {
    width: 25%;
}

.pa p {
    font-size: 20px;
}

.cloud {
    width: 25%;
}

.cloud p {
    font-size: 20px;
}

.ima {
    position: relative;
    bottom: 300px;
    left: 33%;
}

.up {
    position: relative;
    bottom: 100px;
    width: 25%;

}

.up p {
    font-size: 20px;
}

.up img {
    position: relative;
    left: 33%;
}

audio {
    position: relative;
    left: 33%;
    top: -144px;
}

a:hover {
    color: black;
}

li {
    list-style-position: inside;
    list-style-type: square;
    margin: 10px;
}

li::selection {
    background-color: rgb(255, 68, 68);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: brown;
}

.zf {

    position: relative;
    left: 30px;
    font-size: 30px;
    font-weight: bold;
    bottom: -4px;
}

.fa {
    position: relative;
    top: -49px;
    left: 926px;
    padding: 20px;
    width: 50px;
    bottom: -36px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    color: black;
}

.fa-twitter {
    color: black;
}

.fa-google {
    color: black;
}

.fa-linkedin {
    color: black;
}

.fa-youtube {
    color: black;
}

.fa-instagram {
    color: black;
}

.download {
    position: relative;
    top: 30px;
}

.down {
    color: black;
    position: absolute;
    top: -159px;
    padding: 20px;
    border: 30px;
    background-color: rgb(211, 71, 71);
    border-radius: 10px;
    text-decoration: none;
}

.supp {
    color: black;
    position: absolute;
    top: -159px;
    padding: 20px;
    border: 30px;
    left: 239px;
    background-color: rgb(211, 71, 71);
    border-radius: 10px;
    text-decoration: none;
}

.ifra {
    position: relative;
    top: -52px;
    left: 1px;
}

button {
    color: black;
    padding: 20px;
    border: 30px;
    background-color: rgb(211, 71, 71);
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}

button:hover {
    color: aliceblue;
    cursor: pointer;
}